.step-num-progress-forwards,
.step-num-progress-backwards {
    background-image: linear-gradient(#f5e2d6, #f5e2d6);
    background-position: 0% 0;
    background-repeat: no-repeat;
}

.step-num-progress-forwards {
    animation: calc(var(--fib-animation-speed) * 6) background-size-increase
        linear forwards;
    background-size: 0% auto;
}

.step-num-progress-backwards {
    animation: calc(var(--fib-animation-speed) * 6) background-size-reduce
        linear forwards;
    background-size: 100% auto;
}

.fib-num-2-slide-left {
    animation: var(--fib-animation-speed) ease fib-num-2-slide-left forwards;
}

.fib-num-1-slide-right {
    animation: var(--fib-animation-speed) ease fib-num-1-slide-right forwards;
}

.fib-num-3-slide-top-right {
    transform-origin: left bottom;
    offset-path: path(var(--fib-num-3-offset-path));
    offset-rotate: 0deg;

    animation: var(--fib-animation-speed) fib-num-3-slide-top-right forwards;
}

.fib-num-2-slide-bottom-left {
    transform-origin: center top;
    offset-path: path(var(--fib-num-2-offset-path));
    offset-rotate: 0deg;

    animation: var(--fib-animation-speed) fib-num-2-slide-bottom-left forwards;
}

.fib-num-3-animate-show {
    animation: var(--fib-animation-speed) ease fib-num-3-animate-show forwards;
}

.fib-animate-hide {
    animation: var(--fib-animation-speed) ease fib-hide forwards;
}

.fib-animate-show {
    animation: var(--fib-animation-speed) ease fib-show forwards;
}

@keyframes background-size-increase {
    from {
        background-size: 0% auto;
    }
    to {
        background-size: 100% auto;
    }
}

@keyframes background-size-reduce {
    from {
        background-size: 100% auto;
    }
    to {
        background-size: 0% auto;
    }
}

@keyframes fib-num-2-slide-left {
    from {
    }
    to {
        transform: translateX(calc(-128px - 100%));
    }
}

@keyframes fib-num-1-slide-right {
    from {
    }
    to {
        transform: translateX(calc(128px + 100%));
    }
}

@keyframes fib-num-3-slide-top-right {
    from {
        offset-distance: 0%;
    }
    50% {
        /* font-size: 10rem; */
        transform: scale(1);
    }
    to {
        transform: scale(0.8025);
        offset-distance: 100%;
    }
}

@keyframes fib-num-2-slide-bottom-left {
    from {
        offset-distance: 0%;
    }
    50% {
        transform: scale(1);
    }
    to {
        transform: scale(1.236);
        offset-distance: 100%;
    }
}

@keyframes fib-hide {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes fib-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fib-num-3-animate-show {
    from {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
