button {
    border: 0 none;
    cursor: pointer;
    display: block;
    width: 140px;
    height: 52px;
    font-family: 'McLaren', cursive;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

button:hover {
    opacity: 0.8;
}

button:disabled {
    pointer-events: none;
    opacity: 0.45;
}

.btn-dashed {
    background-color: #4e87a0;
    outline: 2px dashed #397691;
    outline-offset: -7px;
    padding: 1rem 1rem;
    border-radius: 1.4rem;
}

.btn-outlined {
    background-color: #a7ebf6;
    color: #4e87a0;
    outline: 2px dotted #71c1e4;
    outline-offset: -4px;
    width: 83px;
    height: 40px;
    border-radius: 2rem;
}

.btn-outlined:hover,
.btn-outlined-active {
    color: #ea6b6e;
}

.btn-red {
    background: url(../images/bg_red-btn.png) no-repeat;
}

.btn-reset {
    width: 60px;
    height: 59px;
}

.btn-radio {
    width: 73px;
    height: 59px;
    font-size: 24px;
    outline: 2px dashed #6a9d27;
    background-color: #74af27;
}

.btn-radio-active {
    background-color: #3b6405;
}

.btn-radio:not(:first-child):not(:last-child) {
    border-radius: 0.3rem;
}

.btn-radio:first-child {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    rotate: 2deg;
}

.btn-radio:nth-child(4) {
    rotate: -3deg;
}

.btn-radio:last-child {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.btn-stop {
    width: 80px;
    height: 59px;
    outline: 2px dashed #e95558;
    background-color: #ff6b6f;
    border-radius: 0.3rem;
}
