* {
    box-sizing: border-box;
}

body {
    background-color: #85d8e5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main {
    min-width: 300px;
    width: 90vw;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: 'McLaren', cursive;
}

/* TODO: structure by files */
.btn {
    border: 0 none;
    cursor: pointer;
    display: block;
    width: 140px;
    height: 52px;
    font-family: 'McLaren', cursive;
    font-size: 16px;
    line-height: 52px;
    text-align: center;
}

.btn-red {
    color: #fff;
    background: url(../images/bg_red-btn.png) no-repeat;
}

.btn-red:hover {
    opacity: 0.8;
}

.panel-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-step {
    display: flex;
    align-items: center;
    justify-content: center;
}

.step {
    font-family: 'McLaren', cursive;
    color: #73b0be;
    outline: 2px dashed #91dbe7;
    outline-offset: -7px;
    background-color: #fff;
    padding: 1rem 1rem;
    border-radius: 1.4rem;
    transform: rotate(2deg);
}

.step-num {
    font-size: 22px;
}

.panel-numbers {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 8rem minmax(0, 1fr);
    grid-template-rows: 1fr 94px;
    grid-template-areas:
        'num1 sign num2'
        'arrow-left sum arrow-right';
    gap: 3rem 0;

    justify-items: center;
    align-items: center;

    margin: 1rem 0 2.5rem 0;
}

.fib-canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fib-num {
    font-family: 'McLaren', cursive;
    font-size: 2.5rem;
    background-color: #ffd576;
    padding: 0.5rem 1rem;
    border: 7px dotted;
}

.fib-num-1 {
    justify-self: end;
}

.fib-num-2 {
    justify-self: start;
}

.fib-num-3 {
    grid-area: sum;
    font-size: 3.5rem;
    position: relative;
}

.fib-num-2-slide-left {
    animation: 0.5s ease fibNum2SlideLeft forwards;
}

.fib-num-3-slide-top-right {
    transform-origin: center left;
    offset-path: path(var(--fib-num-3-offset-path));
    offset-rotate: 0deg;

    animation-name: fibNum3SlideToRight;
    animation-duration: 0.5s;
}

.fib-hide {
    animation: 0.5s ease fibHide forwards;
}

.fib-arrow-left-img,
.fib-arrow-right-img {
    width: 75px;
    position: absolute;
    bottom: 30px;
}

.fib-arrow-left-img {
    right: calc(100% + 10px);
}

.fib-arrow-right-img {
    transform: scaleX(-1);
    left: calc(100% + 10px);
}

@keyframes fibNum2SlideLeft {
    from {
    }
    to {
        transform: translateX(calc(-128px - 100%));
    }
}

@keyframes fibNum3SlideToRight {
    from {
        offset-distance: 0%;
    }
    to {
        offset-distance: 100%;
        /* font-size: 2.5rem; */
    }
}

@keyframes fibHide {
    from {
    }
    20% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

.fib-hidden {
    opacity: 0;
}

.fib-sign {
    font-family: 'McLaren', cursive;
    font-size: 4rem;
}

.panel-actions > .btn:not(:last-child) {
    margin-right: 0.5rem;
}

h1 {
    text-align: center;
}

.text-white {
    color: #fff;
    text-shadow: 2px 2px 3px rgb(22 22 23 / 11%);
}

.fib-num,
.fib-sign,
.text-blue {
    color: #4e87a0;
    text-shadow: 2px 2px 3px rgb(22 22 23 / 11%);
}
