@import url(buttons.css);

* {
    box-sizing: border-box;
}

body {
    background-color: #85d8e5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main {
    min-width: 300px;
    width: 90vw;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: 'McLaren', cursive;
}

h1 {
    text-align: center;
}

.text-white {
    color: #fff;
    text-shadow: 2px 2px 3px rgb(22 22 23 / 11%);
}

.panel-step-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-step-btns > button:not(:last-child) {
    margin-right: 0.5rem;
}

.panel-step {
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-num {
    font-family: 'McLaren', cursive;
    color: #73b0be;
    outline: 2px dashed #91dbe7;
    outline-offset: -7px;
    background-color: #fff;
    padding: 1rem 1rem;
    border-radius: 1.4rem;
    transform: rotate(2deg);

    position: relative;
}

.step-num-progress-forwards,
.step-num-progress-backwards {
    background-image: linear-gradient(#f5e2d6, #f5e2d6);
    background-position: 0% 0;
    background-repeat: no-repeat;
}

.step-num-progress-forwards {
    animation: 3s backgroundSizeIncrease linear forwards;
    background-size: 0% auto;
}

.step-num-progress-backwards {
    animation: 3s backgroundSizeReduce linear forwards;
    background-size: 100% auto;
}

@keyframes backgroundSizeReduce {
    from {
    }
    to {
        background-size: 0% auto;
    }
}

@keyframes backgroundSizeIncrease {
    from {
    }
    to {
        background-size: 100% auto;
    }
}

.step-num-value {
    font-size: 22px;
}

.panel-numbers {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 8rem minmax(0, 1fr);
    grid-template-rows: 1fr 94px;
    grid-template-areas:
        'num1 sign num2'
        'arrow-left sum arrow-right';
    gap: 3rem 0;

    justify-items: center;
    align-items: center;

    margin: 1rem 0 2.5rem 0;
}

.fib-canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fib-num {
    font-family: 'McLaren', cursive;
    font-size: 2.5rem;
    background-color: #ffd576;
    padding: 0.5rem 1rem;
    border: 7px dotted;
}

.fib-num-1 {
    justify-self: end;
}

.fib-num-2 {
    justify-self: start;
}

.fib-num-3 {
    font-size: 3.5rem;
}

.fib-num-3-grid-cell {
    position: relative;
    grid-area: sum;
}

.fib-num-2-slide-left {
    animation: 0.5s ease fibNum2SlideLeft forwards;
}

.fib-num-1-slide-right {
    animation: 0.5s ease fibNum1SlideRight forwards;
}

.fib-num-3-slide-top-right {
    transform-origin: left bottom;
    offset-path: path(var(--fib-num-3-offset-path));
    offset-rotate: 0deg;

    animation: 0.5s fibNum3SlideTopRight forwards;
}

.fib-num-2-slide-bottom-left {
    transform-origin: center top;
    offset-path: path(var(--fib-num-2-offset-path));
    offset-rotate: 0deg;

    animation: 0.5s fibNum2SlideBottomLeft forwards;
}

.fib-num-3-animate-show {
    animation: 0.5s ease fibNum3AnimateShow forwards;
}

.fib-animate-hide {
    animation: 0.5s ease fibHide forwards;
}

.fib-animate-show {
    animation: 0.5s ease fibShow forwards;
}

.fib-arrow-left,
.fib-arrow-right {
    width: 75px;
    position: absolute;
    bottom: 30px;
}

.fib-arrow-left {
    right: calc(100% + 10px);
}

.fib-arrow-right {
    transform: scaleX(-1);
    left: calc(100% + 10px);
}

@keyframes fibNum2SlideLeft {
    from {
    }
    to {
        transform: translateX(calc(-128px - 100%));
    }
}

@keyframes fibNum1SlideRight {
    from {
    }
    to {
        transform: translateX(calc(128px + 100%));
    }
}

@keyframes fibNum3SlideTopRight {
    from {
        offset-distance: 0%;
    }
    50% {
        /* font-size: 10rem; */
        transform: scale(1);
    }
    to {
        transform: scale(0.8025);
        offset-distance: 100%;
    }
}

@keyframes fibNum2SlideBottomLeft {
    from {
        offset-distance: 0%;
    }
    50% {
        transform: scale(1);
    }
    to {
        transform: scale(1.236);
        offset-distance: 100%;
    }
}

@keyframes fibHide {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes fibShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fibNum3AnimateShow {
    from {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fib-hidden {
    opacity: 0;
    pointer-events: none;
}

.fib-display-none {
    display: none;
}

.fib-sign {
    font-family: 'McLaren', cursive;
    font-size: 4rem;
}

.panel-actions {
    transition: opacity 0.25s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fib-num,
.fib-sign,
.text-blue {
    color: #4e87a0;
    text-shadow: 2px 2px 3px rgb(22 22 23 / 11%);
}

.radio-btns {
    display: flex;
    border-radius: 1.4rem;
}

.radio-btns > *:not(:last-child) {
    margin-right: 0.5rem;
}

.panel-radio-btns {
    margin-top: 1rem;
}

.panel-stop {
    position: absolute;
}
